<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sitemate</title>   
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow-md">
        <nav class="container mx-auto flex items-center justify-between p-6">
            <a href="/" class="text-3xl font-bold text-gray-800">Sitemate</a>
            <div class="flex space-x-6">
                <a href="/" class="text-gray-700 hover:text-gray-900 transition duration-300">Home</a>
                <a href="#" class="text-gray-700 hover:text-gray-900 transition duration-300">Privacy</a>
            </div>
        </nav>
    </header>

    <main class="container mx-auto p-6">
        @RenderBody()
    </main>


    <footer class="bg-white border-t border-gray-200 py-6">
        <div class="container mx-auto text-center text-gray-600">
            &copy; 2024 - Sitemate - <a href="/Privacy" class="text-blue-600 hover:underline transition duration-300">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="~/js/issues.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
